.DS_Store
dist/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
static/image/guests/
static/image/message/
static/image/users/
server/access_token.txt
server/jsapi_ticket.txt