<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/css/screen.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/carousel/css/style.css" rel="stylesheet">
    <title>screen</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/myUtils.js"></script>
    <style>
        .slider__text-item-head h3{
            display: flex;
            padding: 10px;
        }
        .slider__text-item-head-img{
            border-radius:50%;
            height: 100%;
            max-height:80px;
            max-width:80px;
        }
        .slider__images-item--active {
            animation: imgAnimate 10s linear alternate;
        }
        @keyframes imgAnimate{
            0%{
                width: calc(100% + 1em * 2);
                height: calc(100% + 0em * 2);
            }
            50%{
                width: calc(100% + 2em * 2);
                height: calc(100% + 10em * 2);
            }
            100%{
                width: calc(100% + 1em * 2);
                height: calc(100% + 1em * 2);
            }
        }
    </style>
</head>
<body>
    
    <!--背景绘制-->
    <div id="background" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;"></div>
    <script src="/static/js/jquery-starfield.js"></script>
    <div id="app">
        <!--墙-->
        <div class="wall">
            <div class="wallHd">
                <p><img src="/static/image/logo.png"></p>
                <p>活动名称(公告)</p>
                <p>消息数量({{ liveSubtitleData.length }})</p>
            </div>
            <div class="wallCon">
                <div id="w-message" class="wallCon-active">
                    <component :is="messageCurrentView" v-for="msg in currentArr" :msg="msg"></component>
                    <!-- <message-show v-for="msg in messageArr" :msg="msg"></message-show> -->
                </div>
                <div id="w-image" v-on:click="imageClickDispatch">
                    <div class="slider" id="slider" style="--img-prev:url(/static/image/message/6DPsQyJviLDVd1T_Ee2YbJ4-yKdl_fj8iL_sqyxT8xaOn-7WdqFKW7L7cvPMyEk3.jpg)"> 
                        <div class="slider__content" id="slider-content">
                            <div class="slider__images">
                                <div class="slider__images-item slider__images-item--active" data-id="1"><img src="/static/image/message/6DPsQyJviLDVd1T_Ee2YbJ4-yKdl_fj8iL_sqyxT8xaOn-7WdqFKW7L7cvPMyEk3.jpg" class="slider__images-item-img"/></div>
                                <image-show v-for="(msg,index) in imageData" :msg="msg" :index="index" :data-id="index + 2"></image-show>
                            </div>
                            <div class="slider__text">
                                <div class="slider__text-item slider__text-item--active" data-id="1">
                                    <div class="slider__text-item-head">
                                        <h3>HIFI HERE</h3>
                                    </div>
                                    <div class="slider__text-item-info">
                                    <p>WELCOME!!</p>
                                    </div>
                                </div>
                                <image-info-show v-for="(msg,index) in imageData" :msg="msg" :index="index" :data-id="index + 2"></image-info-show>
                            </div>
                        </div>
                        <div class="slider__nav">
                            <div class="slider__nav-arrows">
                                <div class="slider__nav-arrow slider__nav-arrow--left" id="left">to left</div>
                                <div class="slider__nav-arrow slider__nav-arrow--right" id="right">to right</div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div id="w-guests"></div>
                <div id="w-vote"></div>
                <div id="w-lottery"></div>
            </div>
            <div class="wallCtr">
                <!--此处应可修改info信息和显示效果-->
                <div id="w-ctr-info"></div>
                <span><i class="fa fa-chevron-circle-up"></i></span>
                <div id="w-ctr-btn">
                    <div id="btn-subtitle"><i class="fa fa-microphone" aria-hidden="true"></i>弹幕</div>
                    <div id="btn-message"><i class="fa fa-commenting-o" aria-hidden="true"></i>消息</div>
                    <div id="btn-image"><i class="fa fa-image" aria-hidden="true"></i>图片</div>
                    <div id="btn-guests"><i class="fa fa-user-circle-o" aria-hidden="true"></i>来宾</div>
                    <div id="btn-vote"><i class="fa fa-bar-chart" aria-hidden="true"></i>投票</div>
                    <div id="btn-lottery"><i class="fa fa-gift" aria-hidden="true"></i>彩蛋</div>
                </div>
            </div>
        </div>
        <!--弹幕-->
        <div id="liveSubtitle" v-if="liveSubtitleSeen">
            <live-subtitle v-for="(msg,key) in liveSubtitleArr" :msg="msg" :id="'liveSubtitle-'+key" :style="'top:'+ msg.cssTop +'px;animation-delay:'+ msg.cssAnimationDelay +'s;'"></live-subtitle>
        </div> 
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/vue.js"></script>
    <script type="text/x-template" id="message-template">
        <div>
            <!--此处应可设置用户头像显示的方式，默认方形-->
            <header><img :src="msg.headimgurl"></header>
            <div>
                <span>{{ msg.from }}</span>
                <span v-html="msg.content">{{ msg.content }}</span>
            </div>
            <footer><i class="fa fa-hand-o-right"></i></footer>
        </div>
    </script>
    <script type="text/x-template" id="one-message-template">    
    </script>
    <script type="text/x-template" id="image-template">
        <div class="slider__images-item"><img :src="msg.mediaId" class="slider__images-item-img"/></div>
    </script>
    <script type="text/x-template" id="image-info-template">
        <div class="slider__text-item">
            <div class="slider__text-item-head">
                <h3><img :src="msg.headimgurl" class="slider__text-item-head-img"/></h3>
            </div>
            <div class="slider__text-item-info">
            <p>{{msg.from}} | {{msg.sex}} | {{msg.province}}</p>
            </div>
        </div>
    </script>
    <script>
        Vue.component('live-subtitle',{
            template:'<div style="overflow:visible;"><img :src="msg.headimgurl" style="margin-left:-5px;margin-right:5px;width:40px;height:40px;" ><span v-html="msg.content">{{ msg.content }}</span></div>',
            props:['msg']
        })
        Vue.component('message-show',{
            template:'#message-template',
            props:['msg','currentArr']
        })
        Vue.component('image-show',{
            template:"#image-template",
            props:['msg','index']
        })
        Vue.component('image-info-show',{
            template:"#image-info-template",
            props:['msg','index']
        })
        var vm = new Vue({
            el:'#app',
            data:{
                liveSubtitleData:[],
                imageData:[],
                liveSubtitleArr:[],
                liveSubtitleCount:0,
                messageArr:[],
                messageCount:0,
                messageCurrentView:undefined,
                currentArr:[],
                liveSubtitleSeen:false,
                intervalGetSubtitleTimer:undefined,
                intervalMoveTimer:undefined,
                intervalChangeTimer:undefined,
                intervalGetMessageTimer:undefined,
                host:window.location.host
            },
            watch: {
                liveSubtitleArr: function (newarr) {
                    if (newarr.length >= 21) this.liveSubtitleArr.splice(0, 5)
                },
                messageArr:function (newarr) {
                    if(newarr.length > 5) this.messageArr.splice(0,5)
                },
                liveSubtitleSeen:function (newval,oldval) {
                    if(newval){
                        this.intervalGetSubtitle()
                        //间隔15秒拉取一次数据显示在屏幕上
                        this.intervalGetSubtitleTimer = setInterval(this.intervalGetSubtitle,15*1000)
                        this.intervalMoveTimer = setInterval(this.intervalMove,30*1000)
                        this.intervalChangeTimer = setInterval(this.intervalChange,60*1000)
                    }else{
                        clearInterval(this.intervalChangeTimer)
                        clearInterval(this.intervalMoveTimer)
                        clearInterval(this.intervalGetSubtitleTimer)
                    }

                },
                messageCurrentView:function(newval,oldval){
                    if(newval == "message-show"){
                        vm.currentArr=vm.messageArr
                    }else if(newval == "one-message-show"){
                        vm.currentArr=[]
                    }
                }
            },
            methods:{
                imageClickDispatch:function(){
                    this.$emit('imageClickDispatch')
                },
                randomValue:function (times) {
                    times = times || 1
                    return Math.floor(Math.random() * 10 + 1) * times
                },
                intervalGetSubtitle:function () {
                    var count = 0;
                    vm.liveSubtitleData.forEach(function (msg,index) {
                        if(index >= vm.liveSubtitleCount && index < vm.liveSubtitleCount + 5) {
                            msg.cssTop = vm.randomValue(60)
                            msg.cssAnimationDelay = vm.randomValue()
                            vm.liveSubtitleArr.push(msg)
                            count++;
                        }
                    })
                    vm.liveSubtitleCount += count
                },
                intervalGetMessage:function () {
                    vm.liveSubtitleData.forEach(function (msg,index) {
                        if(index >= vm.messageCount && index < vm.messageCount + 5) {
                            vm.messageArr.push(msg)
                            vm.messageCount ++
                        }
                    })
                },
                intervalMove:function () {
                    var p = []
                    vm.liveSubtitleArr.forEach(function (msg) {
                        p.push(msg.cssTop)
                    })
                    p.sort(function () {
                        return 0.5 - Math.random()
                    })
                    vm.liveSubtitleArr.forEach(function (msg,index) {
                        msg.cssTop = p[index]
                    })
                },
                intervalChange:function () {
                    vm.liveSubtitleArr.forEach(function (msg,index) {
                        msg.cssTop = vm.randomValue(60)
                    })
                }
            }
        })
        setInterval(vm.intervalGetMessage,15*1000)

        //初始化拉取数据
        $.get("/api/allChat/getMessage", {
                "page": 0,
                "origin": window.location.href
            }, function(data){
                if(data == "-1" || data.length <= 0){
                    console.log('[初始化数据:数据库为空]')
                }else{
                    data.forEach(function(item){
                        //判断是图片还是消息
                    if(!!item.MsgType&&item.MsgType=="image"){
                        vm.imageData.push(item)
                        console.info("[新图片入库]")
                    }else{
                        vm.liveSubtitleData.push(item)
                        console.info("[新消息入库]")
                    }
                })
                    vm.liveSubtitleSeen = true
                    vm.intervalGetMessage()
                    vm.intervalGetSubtitle()
                    vm.messageCurrentView = "message-show"
                }
            })

        var liveSubtitle = io('/allChat')
        liveSubtitle.on("connect",function () {
            liveSubtitle.emit("notification",{from:"wall-screen",content:"wall screen connection"})
        })
        liveSubtitle.on("notification",function (msg) {
            console.log(msg.content)
        })
        liveSubtitle.on("public_message",function(msg){
            //接受的消息暂存于liveSubtitleData中，分批读取入liveSubtitleArr
            //最大存储100条消息(其他方案:存放在数据库中，定时拉取)
            if(vm.liveSubtitleData.length > 100){
                vm.liveSubtitleData.splice(0,10)
            }
            //判断是图片还是消息
            if(!!msg.MsgType&&msg.MsgType=="image"){
                vm.imageData.push(msg)
                console.info("[新图片入库]")
            }else{
                vm.liveSubtitleData.push(msg)
                console.info("[新消息入库]")
            }
            if(vm.liveSubtitleArr.length < 5) {
                vm.intervalGetSubtitle()
                vm.intervalGetMessage()
            }
        })

        var liveSubtitleIconArr = [
            ['#btn-subtitle','#liveSubtitle','fa-microphone','fa-microphone-slash']
        ]
        new iconEvent({
            arr:liveSubtitleIconArr,
            iconEventBan: false,
            activeMenu:['#btn-subtitle','#liveSubtitle','fa-microphone-slash','fa-microphone'],
            extraEvent:function (id,id_link,that) {
                $(id).off()
                var idx = 0
                this.arr.forEach(function (item,index) {
                    if(item[0] == id) {
                        idx = index
                        return
                    }
                })
                var tmp = this.arr[idx][3]
                this.arr[idx][3] = this.arr[idx][4]
                this.arr[idx][4] = tmp
                var active = this.arr[idx]
                this.arr = []
                this.arr.push(active)
                that.iconClickBind()
                that.iconHoverBind()
                vm.liveSubtitleSeen = !vm.liveSubtitleSeen
            }
        }).iconClickBind().iconHoverBind()
    </script>
    
    <script>
        $(function ($) {
            $("#background").starfield({
                starDensity: 0.5,
                mouseScale: 1,
                seedMovement: false,
                BOUNDX: 1000,
                BOUNDY: 500
            })
            var iconEventArr = [
                ['#btn-message','#w-message','fa-commenting','fa-commenting-o'],
                ['#btn-image','#w-image','fa-image','fa-photo'],
                ['#btn-guests','#w-guests','fa-user-circle-o','fa-user-circle'],
                ['#btn-lottery','#w-lottery','fa-gift','fa-smile-o'],
                ['#btn-vote','#w-vote','fa-bar-chart','fa-line-chart']
            ]
            var menuEvent = new iconEvent({
                id_linkActiveClass: 'wallCon-active',
                activeMenu:['#btn-message','#w-message','fa-commenting-o','fa-commenting'],
                arr: iconEventArr,
                extraEvent:function(id,id_link,that){
                    if(id_link == "#w-image"){
                        //设计时可以做判断是否需要全屏显示
                        $("#w-image").css({
                            position:'absolute',
                        }).animate({
                            left:'-100px',
                            right:'-100px',
                            top:'0',
                            bottom:'0'
                        },1000)
                        slideTimer = setTimeout(autoSlide,5000)
                    }else if(!!slideTimer){
                        clearTimeout(slideTimer)
                        $("#w-image").css({
                            position:'initial',
                            left:'initial',
                            right:'initial',
                            top:'initial',
                            bottom:'initial'
                        })
                    }
                }
            })
            //为每个消息绑定事件
            menuEvent.iconHoverBind().iconClickBind()
            
            //消息显示状态下定时显示图片
            var intervalImageFlag = false
            var intervalImageHidden = function(){
                if(intervalImageFlag){
                        if('#w-image' == menuEvent.settings.activeMenu[1]){
                            intervalImageFlag = false
                        }else if(slider.inTransit){
                            setTimeout(intervalImageHidden,5000)
                            return
                        }else{
                            $("#w-message").addClass('wallCon-active')
                            $("#w-image").removeClass('wallCon-active')
                            intervalImageFlag = false
                        }
                    }
                setTimeout(intervalImageShow,10000)
            }
            var intervalImageShow = function(){
                if($("#w-message").hasClass('wallCon-active')){
                    $("#w-message").removeClass('wallCon-active')
                    $("#w-image").addClass('wallCon-active')
                    intervalImageFlag = true
                }
                setTimeout(intervalImageHidden,5000)
            }
            setTimeout(intervalImageShow,6000);  
        })
    </script>
    <script src="/static/carousel/js/index.js"></script>
</body>
</html>